*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --red:#fa0000;
    --green:#009a2a;
    --yellow:#fee800;
    --blue:#00acff;
}
body{
    background: radial-gradient(circle , rgba( 11 , 64 , 177 , 1 ) 0% , rgba( 7 , 30 , 78 , 1 ) 100%);
}
/* -----   Pre Loader ----- */
/* .preloader {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle , rgba( 11 , 64 , 177 , 1 ) 0% , rgba( 7 , 30 , 78 , 1 ) 100%);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preloader .selectPlayer{
    position: absolute;

}
.preloader .selectPlayer button{
    border: 2px solid #fff;
    padding: 10px 12px;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 15px;
    font-size: 2rem;
    background: radial-gradient(circle , rgba( 11 , 64 , 177 , 1 ) 0% , rgba( 7 , 30 , 78 , 1 ) 100%);
    color: #fff;
} */
.ludoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
}
#ludoBoard{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: grid;
    grid-template-areas:
         'red-Board red-Board green-path green-Board green-Board'
         'red-Board red-Board green-path green-Board green-Board'
         'red-path  red-path  win-Zone   yellow-path yellow-path'
         'blue-Board blue-Board blue-path yellow-Board yellow-Board'
         'blue-Board blue-Board blue-path yellow-Board yellow-Board'
    ;
}
/*=============> Board <=================*/
#red-Board {
    grid-area: red-Board;
    background-color: var(--red);
}
#yellow-Board {
    grid-area: yellow-Board;
    background-color: var(--yellow);
}
#blue-Board {
    grid-area: blue-Board;
    background-color: var(--blue);
}

#green-Board {
    grid-area: green-Board;
    background-color: var(--green);
}
/*====================>  Path  <======================*/
#green-path {
    grid-area: green-path;
}
#blue-path {
    grid-area: blue-path;
}
#red-path {
    grid-area: red-path;
}
#yellow-path {
    grid-area: yellow-path;
    
}
/*====================> Win Zone <======================*/
#win-Zone {
    grid-area: win-Zone;
}
.win-zone{
    display: grid;
    position: relative;
}
.win-zone-red{
    position: absolute;
    left: -19px;
    top: 12px;
    transform: rotate(90deg);
}
.win-zone-green{
    position: absolute;
    transform: rotate(180deg);
    top: -4px;
    left: -2px;
}
.win-zone-yellow{
    position: absolute;
    transform: rotate(270deg);
    top: 12px;
    right: -19px;
}
.win-zone-blue{
    position: absolute;
    top: 28px;
    left: -2px;
}
.win-zone-red svg{
    stroke: var(--red);
    fill: var(--red);
}
.win-zone-green svg{
    stroke: var(--green);
    fill: var(--green);
}
.win-zone-yellow svg{
    stroke: var(--yellow);
    fill: var(--yellow);
}
.win-zone-blue svg{
    stroke: var(--blue);
    fill: var(--blue);
}
.verticalPath{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
}
.horizontalPath{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}
.board{
    padding: 12px;
    background: #1212;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board div {
    width: 80%;
    height: 80%;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.board div span{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}
#yellow-Board div span{
    background: var(--yellow);
}
#red-Board div span{
    background: var(--red);
}
#blue-Board div span{
    background: var(--blue);
}
#green-Board div span{
    background: var(--green);
}
.ludoBox{
    border: 1px solid #11111142;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ludoBox .fa-location-pin{
    position: absolute;
    margin: 2px;
    font-size: 2rem;
    transform: translate(0,-40%);
    -webkit-text-stroke-width: 2px;
    z-index: 100;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.ludoBox .fa-star{
    position: absolute;
    color: #222;
    opacity: .6;
}
@keyframes animateMyI {
    0%{
        transform: scale(1.1) translate(0,-40%);
    }
    100%{
        transform: scale(1) translate(0,-40%);
    }
}
.ludoBox .fa-location-pin:nth-child(2){
    transform: translate(10px,-40%);
}
.ludoBox .fa-location-pin:nth-child(3){
    transform: translate(10px,-40%);
}
.ludoBox .fa-location-pin:nth-child(4){
    transform: translate(0px , -40%) scale(0.8);
}
.redLudoBox{
    background: var(--red);
}
.yellowLudoBox{
    background: var(--yellow);
}
.blueLudoBox{
    background: var(--blue);
}
.greenLudoBox{
    background: var(--green)
}
.board .piece {
    position: absolute;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255,255,255);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -90%);
    font-size: 2.3rem;
    z-index: 100;
}
 .active{
    animation: animateBoard .8s linear infinite;

}
@keyframes animateBoard {
    0%{
        filter: brightness(1.4);
    }
    50%{
        filter: brightness(1);
    }
    100%{
        filter: brightness(1.4);
    }
}
.red-piece {
    color: var(--red);
}
.yellow-piece {
    color: var(--yellow);
}
.green-piece {
    color: var(--green);
}
.blue-piece{
    color: var(--blue);
}
.blue-piece::after{
    content: attr(myPieceNum);
    font-weight: 600;
    font-size: 9px;
    color: white;
    background: #00acff;
    padding: 3px;
    margin-top: 2px;
    -webkit-text-stroke-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , 2px);
}
#declareWinner{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9999;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    z-index: 9999 !important;
}
#declareWinner div{
    width: 550px;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
    justify-content: center;
    border-radius: 6px;
    padding: 20px 10px;
}
#declareWinner div button{
    padding: 8px 8px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background:#2b2b2b;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
}

/*------------------- Dice Styles -------------------*/
.roll-dice {
    position: absolute;
    top: 45%; right: 20%;
}
.roll-dice .dice {
    position: relative;
    width: 100px; height: 100px;
    transform-style: preserve-3d;
}
.face {
    position: absolute;
    width: 100%; height: 100%;
    border: 5px solid #f6f3f0;
    border-radius: 20px;
    background: linear-gradient(145deg, #dddbd8, #fff);
    transform-style: preserve-3d;
}
.face::before {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 20px;
    background: #f6f3f0;
    transform: translateZ(-1px);
}
.face::after {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 18px; height: 18px;
    background: #000;
    border-radius: 50%;
}
.front { transform: translateZ(50px); }
.back { transform: rotateX(180deg) translateZ(50px); }
.top { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }
.right { transform: rotateY(90deg) translateZ(50px); }
.left { transform: rotateY(-90deg) translateZ(50px); }
.front::after {
    width: 30px; height: 30px; background: #000;
    margin: -15px 0 0 -15px;
}
.back::after {
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px;
}
.top::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}
.bottom::after {
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px;
}
.right::after {
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0, 0 40px, 40px 40px;
}
.left::after {
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px, 50px 50px;
}
.roll-dice h2{
    color: white;
    margin-bottom: 20px;
    
}

@media (max-width: 1250px) {
    .roll-dice{
        top: 80%;
        right: 44%;
    }
    .ludoContainer{
        margin-top: -50px;
    }
}

@media (max-width: 600px) {
   .ludoContainer{
    margin-top: -80px;
   }
   #ludoBoard{
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
   }
    .roll-dice{
    top: 70%;
    right: 40%;
   }
   .roll-dice .dice{
    width: 80px;
    height: 80px;
   }
   .roll-dice h2 {
    display: none;
   }
   .win-zone-blue svg{
    width: 65px;
    height: 50px;
    margin-top: -10px;
    margin-left: 4px;
   }
   .win-zone-green svg {
    width: 65px;
    height: 50px;
    margin-right: 3px;
    margin-top: -18px;
    margin-bottom: -2px;
   }
   .win-zone-red svg{
    width: 65px;
    margin-top: -14px;
    height: 50px;
    margin-left: 2px;
   }
   .win-zone-yellow svg {
    width: 60px;
    height: 50px;
    margin-top: -15px;
    margin-right: 2px;
   }
  .board .piece {
    font-size: 2rem;
  } 
}
@media (max-width) {
    .roll-dice {
        top: 80%;
    }
}